@model WishlistWebsiteMVC.Models.InputModel


<h5>Enter your nickname to access:</h5>

<form method="post">
    <input type="text" id="userInput" name="UserInput" value="@Model.UserInput" />
    <button type="submit" name="action" value="enter">→</button>
</form>

@* @if (!string.IsNullOrEmpty(Model.Message))
{
    <div>
        @Model.Message
    </div>
} *@

@* @if (Model.IsAwwab)
{
    <h2 style="color: red;">Red Header</h2>
}
else if (Model.IsZainab)
{
    <h2 style="color: green;">Green Header</h2>
} *@
